.navbar {
	margin-top: 3em;
	background-color: #fff;
	border-bottom: 3px solid $umd_offwhite;


	.nav-item {
		margin-bottom: 0;

		a {
			color: $body-color;
			text-transform: uppercase;
			font-weight: 600;
			letter-spacing: 1px;
			margin: 0 1em;	
		}
	}
}